<%- include('header'); %>

<div class="about-content">
    <h2>Hi guys this is an about page if u wish to know more about me </h2>
    <p>There will be a lot of lot of text that are related to me</p>
</div>


<%- include('footer'); %> 